User-agent: *
Disallow: #{new_user_session_path}
Disallow: #{new_user_registration_path}
Disallow: #{remote_sign_in_path}
Disallow: #{remote_sign_up_path}
Disallow: /remote_sign_up
Disallow: /remote_sign_in
