#s-catalog.section.page-when.page.page-cent.fp-section.fp-table{"data-anchor" => "cat", :style => "height: 609px;"}
  .fp-tableCell.fp-content{:style => "height: 609px;"}
    %section.content
    %footer.p-footer.p-scrolldown
      %a{:href => "#reg"}
        .arrow-d
          .before Быть на
          .after связи
          .circle