#s-about-us.section.page-about.page.page-cent.fp-section.fp-table{:style => "height: 609px;"}
  .fp-tableCell.fp-content{:style => "height: 609px;"}
    %section.content
      %header.p-title
        %h3
          Про нас
          %i.ion.ion-android-information
        %h1 Мы делаем мебель
      %article.text
        %p Мебель на заказ любой сложности и ценовой категории. Мебель для кухни, шкаф-купе, детская мебель, гостинная, прихожая, офисная мебель для руководителей и персонала.
        %p
          Преимущества работы с нами:
        %ul{:type => "square"}
          %li
            %i.icon.ion.ion-checkmark.green>
            индивидуальный подход к каждому проекту
          %li
            %i.icon.ion.ion-checkmark.green>
            высокое качество изготовления мебели
          %li
            %i.icon.ion.ion-checkmark.green>
            не надо будет бегать по магазинам в поисках мебели нужных вам размеров
          %li
            %i.icon.ion.ion-checkmark.green>
            вы получите именно то, что вам необходимо, с нужным количеством полочек, ящичков, и т. д.
          %li
            %i.icon.ion.ion-checkmark.green>
            оптимальная цена на мебель исходя из Ваших возможностей и предпочтений
          %li
            %i.icon.ion.ion-checkmark.green>
            широкий выбор материалов и фурнитуры на любой самый изысканый вкус
        %p
          В работе используется массив дуба,ясеня,ольхи. Отделка производится лакокрасочной продукцией ведущих европейских производителей : "Sirka", "AkzoNOBEL", "Remers" и т.п. В изделиях используется фурнитура фирм "Вlum", "Hettich", "Hafele", "Gamet"."
    %footer.p-footer.p-scrolldown
      %a{:href => "#con"}
        .arrow-d
          .before Контакт
          .after Сообщение
          .circle

