%footer.page-footer
  .col-sm-3
    %a{href: '/privatpolicy'}
      Privacy Policy
    %a{href: "/sitetopic"}
      = t(:_topic)
  .copyright
    %p
      %span
        %a{:href => "#", :target => "_blank"}
          %i.ion.icon.ion-social-facebook
        %a{:href => "#", :target => "_blank"}
          %i.ion.icon.ion-social-instagram
        %a{:href => "#", :target => "_blank"}
          %i.ion.icon.ion-social-twitter
    %p
      \&copy; #{Time.now.year}
      %span.pink 
        Vinner-Plus
      All Rights Reserved
