%nav.quick-link.count-6.nav-left
  %ul#qmenu
    %li.active{"data-menuanchor" => "tut"}
      %a{:href => "#tut"}
        %i.icon.ion.ion-home
      %span.title Главная
    %li{"data-menuanchor" => "cat"}
      %a{:href => "#cat"}
        %i.icon.ion.ion-android-archive
      %span.title Каталог
    %li{"data-menuanchor" => "fback"}
      %a{:href => "#fback"}
        %i.icon.ion.ion-compose
      %span.title Будь на связи
    %li{"data-menuanchor" => "ab"}
      %a{:href => "#ab"}
        %i.icon.ion.ion-android-information
      %span.title Про нас
    %li{"data-menuanchor" => "con"}
      %a{:href => "#con"}
        %i.icon.ion.ion-android-call
      %span.title Контакт
    %li{"data-menuanchor" => "con/1"}
      %a{:href => "#con/1"}
        %i.icon.ion.ion-email
      %span.title Написать нам
    %li{"data-menuanchor" => "con/2"}
      %a{:href => "#con/2"}
        %i.icon.ion.ion-chatboxes
      %span.title Онлайн ЧАТ

