.selltype_panel
  %ul.selltype
    %li{class: ['direct', 'active']}
      %a{href: "#opt"}
        %i{class: [ 'fa', 'fa-truck']}
        опт
    %li{class: ['direct']}
      %a{href: "#roz"}
        %i{class: [ 'fa', 'fa-cart-arrow-down']}
        розница